:root {
  /* Variables de color */
  --text: #444;
  --text-h: #1a1a1a;
  --bg: #fafaf8;
  --border: #e5e2da;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --serif: 'Georgia', 'Times New Roman', serif;

  font: 16px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Quita márgenes/padding por defecto del navegador
   y hace que padding/border no se sumen al ancho de los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--bg);
}

h1, h2, h3 {
  color: var(--text-h);
  font-weight: 500;
}